nav li:nth-child(3) {
  background-color: #00b7b5;
}

.text-box {
  background-color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
}

.text-box p {
  font-size: 32px;
}

.text-box h3 {
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .text-box p {
    font-size: 16px;
  }
  .text-box h3 {
    font-size: 20px;
  }
}
