nav li:nth-child(2) {
  background-color: #00b7b5;
}

.input {
  font-size: 32px;
  width: 95%;
  margin-bottom: 5px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid grey;
}

#text-input {
  margin-top: 5px;
}

.input:focus {
  border-color: #00b7b5;
}

.input:disabled {
  background-color: white;
}

.button {
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
  background-color: #00b7b5;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: none;
  transition: background-color 0.15s;
}

.button:hover {
  background-color: #00cbc8;
}

.button:active {
  background-color: #00d9d5;
}

@media screen and (max-width: 768px) {
  .input,
  .button {
    font-size: 16px;
  }
}
