* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.container {
  min-width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #018790;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  text-decoration: none;
  background-color: #00b7b5;
  color: white;
  padding: 5px 10px;
  border: none;
  transition: background-color 0.15s;
}

.button:hover {
  background-color: #00cbc8;
}

.button:active {
  background-color: #00d9d5;
}

main {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #005461;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  height: 50px;
}

a img {
  display: block;
}
