* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #018790;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: left;
  padding: 10px;
  transition: background-color 0.15s;
}

nav li:hover {
  background-color: #00b7b5;
}

nav a {
  text-decoration: none;
  font-size: 32px;
  color: white;
}

main {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #005461;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  height: 50px;
  display: block;
  max-width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  nav a {
    font-size: 16px;
  }
  .logo-icon {
    height: 40px;
  }
}
